body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #001f4d, #0073e6);
    color: #fff;
    overflow: hidden;
}

header {
    text-align: center;
    padding: 2em;
    background: linear-gradient(45deg, #003366, #0073e6);
    color: #fff;
    text-shadow: 0 0 15px #0073e6, 0 0 30px #003366;
}

main {
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
}

section {
    margin-bottom: 2em;
    border: 1px solid #004080;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 15px #0073e6, 0 0 30px #004080;
    animation: pulsar 2s infinite;
}

@keyframes pulsar {
    0%, 100% { box-shadow: 0 0 15px #0073e6, 0 0 30px #004080; }
    50% { box-shadow: 0 0 30px #0073e6, 0 0 60px #004080; }
}

#artes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em; /* Espaçamento entre as imagens */
}

#artes-container img {
    width: 150px;
    height: auto;
    border: 2px solid #004080;
    border-radius: 10px;
    box-shadow: 0 0 15px #0073e6, 0 0 30px #004080;
    animation: flutuar 4s infinite alternate;
}

@keyframes flutuar {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
}

a {
    display: inline-block;
    margin: 0.5em 0;
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 8px #00bfff, 0 0 16px #0073e6;
}

a:hover {
    text-decoration: underline;
    color: #0073e6;
    text-shadow: 0 0 20px #0073e6, 0 0 40px #004080;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #001f4d;
    color: #00bfff;
    box-shadow: 0 -3px 10px #0073e6;
}

#background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #001f4d 20%, transparent 80%);
    animation: girar 20s infinite linear;
    z-index: 0;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
